.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c62828;
  padding: 25px 50px;
}

.logo h2 {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffe082;
}